@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Kalam:wght@300&family=Mali&family=Pangolin&family=Patrick+Hand&family=Source+Sans+Pro&family=Ubuntu&display=swap');
/* 
font-family: 'Baloo 2', cursive;
font-family: 'Kalam', cursive;
font-family: 'Mali', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --color1:#180A0A;
  --color2:#F10086;
}

body{
  background: #C6DCE4;
  color: black;
  font-family: 'Baloo 2', cursive;
}

.container{
  background: #5f27cd;
  box-sizing: border-box;
  margin: 2vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

input{
  height: 50px;
  border: 2px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
  outline: 0;
  padding: 2px 7px;
}

#btn{
  background: #c8d6e5;
  color: black;
  border-radius: 7px;
  font-weight: bold;
  background-size: 1.3rem;
  border: none;
  height: 50px;
  width: 100%;
}

.box{
  background: #ee5253;
  margin: 3vw;
  text-align: center;
  padding: 10px;
  display: none;
}