@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Kalam:wght@300&family=Mali&family=Pangolin&family=Patrick+Hand&family=Source+Sans+Pro&family=Ubuntu&display=swap');
/* 
font-family: 'Baloo 2', cursive;
font-family: 'Kalam', cursive;
font-family: 'Mali', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1:#180A0A;
  --color2:#F10086;
}

body{
  background: #C6DCE4;
  color: black;
  font-family: 'Baloo 2', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  margin: 3vw;
  padding: 10px;
  background: #3AB0FF;
}

form{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 6px;
  background: white;
  color: #3AB0FF;
  height: 200px;
  border-radius: 7px;
}

form img{
  display: none;
  position: absolute;
  height: 170px;
}

i{
  font-size: 3rem;
}

form p{
  font-size: 1.2rem;
  font-weight: bold;
}

.content{
  margin: 10px;
  opacity: 0;
  transition: .5s ease;
}

textarea{
  width: 100%;
  margin: 0 auto;
  resize: none;
  display: block;
  outline: 0;
  background: none;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.3rem;
  height: 150px;
}

.btnGroup{
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button{
  height: 50px;
  width: 120px;
  background: white;
  color: #3AB0FF;
  border-radius: 7px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

/*  */
.default-height{
  height: 240px;
}
