*{
  
}
html{
  
}
body{
  background: #433 ;
}
.container{
  background: pink;
  padding: 10px;
  text-align: center;
  position: relative;
}
.container img{
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  height: 200px;
  transition: 2s;
}

.current{
  z-index: 999;
}
h1{
  color: white;
  text-align: center;
}